@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');
*{
    margin: 0;
    padding: 0;

}
body{
    font-family: 'Poppins';
    margin-left: 1%;
    
    
}
.navbar{
    background-color: black;
    position: absolute;
    width: 100%;
}
.navb{
    padding: 15px;
    align-items: center;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.nlink>ul{
    display: flex;
}
.nlink> ul> li> a{
    list-style: none;
    padding: 15px;
    font-size: 17px;
    margin-right: 10px;
    text-decoration: none;
    color: white;


}

.agrilogo{
    color: white;
    font-family: 'Inter';
    
}
.button1{
    border: none; 
    background-color: #ED661F;
    color: white;
    font-size: 16px;
	font-weight: 600 !important;
	cursor: pointer;
	padding: 15px;
	border-radius: 7px;
}

.tbody>.jbl{
    display: flex;
    list-style: none;
    background-image: url(/images/image\ 1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    
    
}

  
.tbody{
    padding-top: 7%;
    font-family: 'Poppins';
    padding-left: 7%;
    width: 100%;
    
}
.mostp{
    display: flex;
    justify-content: space-around;
}

.image-2{
    clear: right;
}

.newitm{
    display: flex;
    justify-content: space-around;
}
.categories{
    text-align: center;
}
.exist{
    display: flex;
    justify-content: space-evenly;
    padding-top: 7%;
}
.checked {
    color: #ED661F;
  }

.lsverified>ul{
    display: flex;
}
.lsverified>ul>li{
    list-style: none;
    justify-content: center;
    padding: 5%;
    text-align: center;

}
.lsverified{
    justify-content: space-between;
    width: 60%;
	margin: 70px auto 0;
	background-color: #FAFAFA;
	border-radius: 0;
	box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px,
		rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
}
.rating>ul{
    display: flex;
    list-style: none;
    margin: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}
.ratingf{
    height: 20%;
    width: 20%;
	max-width: 30%;
	background-color: #fff;
	border-top-right-radius: 0px;
	border-bottom-left-radius: 0px;

}
.ratingf:hover{
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px,
		rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
	cursor: pointer;
}
.icons>.fa{
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
} 
.icons>.fa:hover {
    opacity: 0.7;
}
.fa-facebook {
    background: #3B5998;
    color: white;
  }
.fa-twitter {
    background: #55ACEE;
    color: g;
  }
  .fa-instagram {
    background: grey;
    color: black;
  }
   


.footer{
    background-color: white;
    width: 100%;
    height: 70vh;
}
.kint{
    flex-direction: column;
    background-color: black;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    height: 40vh;
    width: 100%;
    justify-content: center;
    gap: 30px;
}
.kint h2{
  color: white;
    font-size: 30px;
}
.kint p{
  color: white;
    font-size: 16px;
}
.form-input{
  
    text-align: center;
    border: none;
    height: 40px;
    width: 350px;
    border-radius: 3px;
}
.btn-submit{
    height: 40px;
    background-color: #ED661F;
    color: white;
    width: 150px;
    border: none;
}

.btm{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: black;
    color: white;
    

}
.footer-bottom .brand{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40vh;
    color: white;
}

.brand .icons{
    margin: 20px 0 20px 0;
}
.company{
    flex-grow: 2;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-top:-80px;;

}
.btm-log{
    margin-left: 3%;
}
.company h2{
    font-size: 22px;
}
.company ul{
    margin-top: 10px;
    list-style: none;
}
.company ul li{
    padding: 5px;
}
.copy{
  padding: 30px 0 30px 0;
  font-weight: 400;
    background-color: black;
    color: white;
    text-align: center;
    align-self: ;
}
.jbtm-logo{
  padding-left: 100px;
  margin-top:60px;
}
.app-store{
  width: 100px;
  color: black;
  padding-top: 0;
  margin: 0 10px 0 0;
}
.logo-images{
  display: flex;
  flex-direction: row;
}

.ecustomers{
    padding-top: 7%;
    margin-left: 3%;
}
.pp1{
    margin-left: 4%;
    padding-top: 7%;
}
.nn1{
    margin-left: 4%;
    padding-top: 7%;
}